.container {
    position: relative;
    float: left;
    color: black;
    font-family: sans-serif;
    letter-spacing: 0px;
    text-decoration: none;
    line-height: 35px;
    font-size: 18px;
}

.img-container {
    position: relative;
    text-align: right;
    float: right;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-weight: bold;
}

.givingtalk {
    width: 100%;
    height: auto;
    opacity: .7;
}

.clear-floats {
    clear: both;
}